show_frame=true
fg_set=true
bg_set=true
timezone=
width_set=false
height_set=false
lines_vertically=true
rotation=0
data0=%r
font0=Droid Sans 10
tooltip=%c
hib_timing=false
fg=65535R 65535G 65535B
bg=22616R 13107G 11051B

